{
  "extends": ["airbnb-base/legacy", "typescript", "typescript/prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-mixed-operators": "off",
    "typescript/adjacent-overload-signatures": "off"
  }
}
